<!DOCTYPE html>
{% extends 'transfer_base.html' %}
{% block title %}Board{% endblock %}
{% block message %}Leave your message here{% endblock %}
{% block main %}
<hr>
    <div class="body-info container">
        <div class="board">
            <h1>New post</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
<hr>
{% endblock %}