<!DOCTYPE html>
{% extends 'transfer_base.html' %}
{% block title %}Home{% endblock %}
{% block message %}HOMEPAGE{% endblock %}
{% block submessage %}Welcome to Dante's site{% endblock %}
{% block main %}
<hr>
    <div class="body-info container">
        <div class="row">
            <div class="img-main col-xs-12 col-md-3 col-lg-3 ">
                <img src='https://i.imgur.com/Tn9ykH3.jpg' class = "img-circle" />
            </div>
        </div>
        <div class="row col-md-7 col-lg-7">
            <p class="info">
                <strong>本名: </strong>吳承翰<br>
                <strong>綽號: </strong>丹堤 <br>
                <strong>年次: </strong>81 <br>
                <strong>身分: </strong>程式練習生 <br>
                <strong>興趣: </strong>研究新事物，所以有什麼新奇的東西，或新科技想介紹，非常歡迎您提供給意見給我 <br>
                <strong>嗜好: </strong>程式、電影、健身、滑板、旅遊 (歡迎分享經驗，聊聊天 <br><br>
            </p>
        </div>
    </div>
<hr>
{% endblock %}