<!DOCTYPE html>
{% extends 'transfer_base.html' %}
{% load static%}
{% block title %}About Me{% endblock %}
{% block message %}簡歷{% endblock %}
{% block submessage %}Resume{% endblock %}
{% block main %}
<hr>
    <div class="body-info container">
        <div class="row">
            <div class="img-main col-xs-12 col-md-3">
                <img src='https://i.imgur.com/55zC4ky.jpg' class = "img-circle" alt = "img" />
            </div>
        </div>
        <div class="row">
            <div class="info text-justify col-xs-12 col-md-12">
                <p>
                    &nbsp;&nbsp;本人畢業於國立高雄應用科技大學資訊工程系，目前於同校電子工程系碩士班休學中。具有 3 年演算法系統開發經驗，擅長的程式語言有 Java、Python、 Django、SQLite3、MySQL，略知 MVC 架構。研究領域包含生物資訊、Data mining、最佳化演算法之相關問題。<br><br>
                    
                    【大學時期】<br>
                    &nbsp;&nbsp;因介於專題的時期，參與了科技部大專學生研究計畫，當時選擇了生物資訊類型題目，使用 Java 開發具備 GUI 介面的演算法單機平台，可匯入資料進行演算，採用TLBO 演算法進行 CpG islands 生物特徵搜尋，至此之後也發表了一篇國內研討會論文作為成果。<br><br>
                    
                    【研究所】<br>
                    &nbsp;&nbsp;碩士階段的研究延續了大學時期的生物資訊領域，進行最佳化演算法的改良，並在同研究領域加入了資料探勘的使用，利用 Java 開發分群、分類器以預測資料走向，也應用機器學習的檢測指標作為數據的佐證。<br><br>
                    
                    &nbsp;&nbsp;碩士後半期則踏入深度學習的領域，使用 Python 進行程式開發，因個人興趣而想建立聊天機器人，並加入深度學習的能力吸收使用者的經驗自我訓練機器人詞彙應用，此聊天機器人目前利用 Python 擷取 IRC 聊天室內容進行資料的分析，以回覆相對應的資料。<br><br>
                    
                    【休學期間】<br>
                    &nbsp;&nbsp;因個人因素結束碩士生涯。而在其間，持續聊天機器人的開發，並自行進行網頁端的研究，想讓聊天機器人上架在網頁上，目前使用 Django 網頁設計一個具備 PostgreSQL 後台以及留言板的個人網頁並且在 Heroku PaaS 持續運行中，曾使用 Cloud9 + SQLite3 or Ngrok 分享網頁，與朋友討論如何透過 Bootstrap, CSS, HTML 設計版面。<br><br>
                    
                    P.S. 下列是本人的 GitHub 資料，如果您對本人有興趣可以發信通知、或在 Github 中留言<br>
                    
                    <small>Email: jackmel030@gmail.com</small><br>
                    <small>Github: https://github.com/Dante0713</small><br>
                </p>
            </div>
        </div>
    </div>
<hr>
{% endblock %}