<!DOCTYPE html>
{% extends 'transfer_base.html' %}
{% block title %}List all of the links{% endblock %}
{% block message %}關於我的連結{% endblock %}
{% block submessage %}Associate Links{% endblock %}
{% block main %}
<div class="container">
    <table class="table" border=1>
        <tr> <td>Short_url</td> <td>Count</td> <td>Source Link</td>
        {% for item in all %}
        <tr>
            <td><a href="/{{ item.short_url }}">{{ item.short_url }}</a></td>
            <td>{{ item.count }}</td>
            <td>{{ item.src_url }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
